.celesteText
  color: lightblue
.loginForm
  margin: 50px
.redText
  color: red
.lessonText
  font-weight: normal
  color: lightblue
.backgroundImage
  max-width: 500px
  opacity: 50%
  z-index: -1
  margin: 0 auto