<div>
  <center><h3 class="celesteText">Let's talk about our nearest solar neighbor: Alpha Centauri</h3></center>
</div>

<!-- <div>{{lessons}}</div> -->
<div class="celesteText">
  <h3>Here is your first lesson</h3>
  <div>{{lesson1}}</div>
</div>

<div class="container-fluid">
  <div class="col-sm-6">
    <h6 class="celesteText">Here are a bunch of questions about Alpha Centauri.</h6>
    <div>
      <ol>
        <li>{{question1}}</li>
        <li>{{question2}}</li>
        <li>{{question3}}</li>
        <li>{{question4}}</li>
        <li>{{question5}}</li>
      </ol>
    </div>
  </div>
  <div class="col-sm-6">
    <h6 class="celesteText">Here are the answers</h6>
    <div>
      <ol>
        <li>{{answer1}}</li>
        <li>{{answer2}}</li>
        <li>{{answer3}}</li>
        <li>{{answer4}}</li>
        <li>{{answer5}}</li>
      </ol>
    </div>
  </div>
</div>