<div>
  <div class="celesteText">
    <h1>Galonzo, {{explorer.firstName}}!</h1>
    <h3>It's me, Celeste. This is the Command Deck, where you can review your personal information, start journies, or pick up where you left off.</h3>
  </div>
<br>
  <div class="col-sm-6">
    <center><h2>Explorer</h2></center>
    <h4>Name </h4>
    <span>{{explorer.firstName}} {{explorer.lastName}}</span>
    <h4>Username </h4>
    <span>{{explorer.username}}</span>
    <h4>Trips around the Sun </h4>
    <span>{{explorer.age}}</span>
    <div>
      <button class="btn btn-success" ng-click="startJourney()">Next Journey</button>
      <button class="delete-btn btn btn-danger" ng-click="deleteProfile()">Delete Profile</button>
    </div>
  </div>
  <div class="col-sm-6">
    <center><h2>Completed Journies</h2></center>
      <center>
        <h3 class="col-sm-6">Name</h3>
        <h3 class="col-sm-6">Destination</sh3pan>
      </center>
      <center><div ng-repeat="journey in journies">
        <h5 class="col-sm-6">{{journey.name}}</h5>
        <h5 class="col-sm-6">{{journey.destination}}</h5>
      </div></center>
        </div>
    </div>
  </div>
</div>
