<div>
  <h1 class="celesteText">{{title}}</h1>
  <div>Here is a list of journies you can take. When you select one, I'll teach you a little bit about the planet, star, moon or galactic destination you choose. When you feel you've learned the material, you can begin your journey. On your way to the destination, you'll provided a selection of questions related to your destination. Each correct answer will propel you a little further, until you reach your final destination. </div>
  <button type="" class="btn btn-default" ng-click="startJourney()">Party On</button>
</div>


