<div>

  <center><h3 class="celesteText">Destination {{id}}: {{topic}}</h3></center>


</div>

<!-- <div>{{lessons}}</div> -->
<div>
  <h3 class="celesteText" ng-show="hide">Carefully read the following lesson, and prepare to answer some questions.</h3>
  <p class="lessonText" ng-show="currentLesson">{{lesson}}</p>
  <button ng-show="hide" class="btn btn-success" ng-click="getLesson()">Start Lesson</button>
</div>

  <div>
    <button class="btn btn-warning" ng-click="takeQuiz()" ng-show="quizButton">Take Quiz</button>
  </div>

<div class="container-fluid" ng-show="quiz">
  <div class="col-sm-6">
    <h6 class="celesteText">Here are a bunch of questions related to {{topic}}</h6>
    <div>
      <form class="quizForm">
        <ul ng-repeat="q in questions">
          <li>{{q.question}}</li>
            <li ng-repeat="a in answers | filter: {questionId: q.questionsID}">
              <label>
                <input type="radio" value="{{a.answerId}}{{a.correct}}" name="question - {{q.questionsID}}" ng-model="selectedAnswer[q.questionsID]" /> {{a.answer}}</label>
            </li>
        </ul>
        <div>
          <button class="btn btn-success" ng-click="checkAnswers()">Submit</button>
        </div>
      </form>
    </div>
  </div>

</div>

<div>
  <button class="btn btn-success" ng-click="nextDestination(id)">Next Destination</button>
</div>
<div>
  <button class="btn btn-warning" ng-click="prevDestination(id)">Previous Destination</button>
</div>
<div ng-hide="true">
  <button></button>
</div>

<!-- <ul class="unstyled">
  <li ng-repeat="q in questions">
   <strong class="question">{{ q.question }}</strong>
   <ul class="unstyled" id="quest_{{$parent.$index}}"">
    <li ng-repeat="a in answers">
      <label class="isCorrect_{{answer.selected}}" for="quest_{{$parent.$index}}_answer_{{$index}}">
        <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}"
        ng-model="answers[$parent.$index]" value="{{ answer.answerText }}"  name="quest_{{$parent.$index}}_answers" />{{ a.answer }}</label>
    </li>
   </ul>
  </li>
</ul> -->