<div>

  <center><h3 class="celesteText">Destination: {{topic}}</h3></center>


</div>

<!-- <div>{{lessons}}</div> -->
<div>
  <h3 class="celesteText" ng-show="hide">Carefully read the following lesson, and prepare to answer some questions.</h3>
  <p class="lessonText" ng-show="currentLesson">{{lesson}}</p>
  <button ng-show="hide" class="btn btn-success" ng-click="getLesson()">Start Lesson</button>
</div>

  <div>
    <button class="btn btn-warning" ng-click="takeQuiz()" ng-show="currentLesson">Take Quiz</button>
  </div>

<div class="container-fluid" ng-show="quiz">
  <div class="col-sm-6">
    <h6 class="celesteText">Here are a bunch of questions related to {{topic}}</h6>
    <div>
      <ol>
        <li ng-show="active">{{question1}}</li>
        <li ng-show="">{{question2}}</li>
        <li ng-show="">{{question3}}</li>
        <li ng-show="">{{question4}}</li>
        <li ng-show="">{{question5}}</li>
      </ol>
    </div>
  </div>
  <div class="col-sm-6">
    <h6 class="celesteText">Here are the answers about {{topic}}</h6>
    <div>
      <select>
        <option value="1">{{fakeAnswers.fakeAnswer1}}</option>
        <option value="2">{{fakeAnswers.fakeAnswer2}}</option>
        <option value="3">{{fakeAnswers.fakeAnswer3}}</option>
        <option value="4">{{answer1}}</option>
        <option value="5">{{fakeAnswers.fakeAnswer4}}</option>
      </select>
      <!-- <div ng-show="active">
        <input type="text" name="answer" placeholder="question 1" ng-model="userAnswers.answer1">
      </div>
      <div ng-show="">
        <input type="text" name="answer" placeholder="question 2" ng-model="userAnswers.answer2">
      </div>
      <div ng-show="">
        <input type="text" name="answer" placeholder="question 3" ng-model="userAnswers.answer3">
      </div>
      <div ng-show="">
        <input type="text" name="answer" placeholder="question 4" ng-model="userAnswers.answer4">
      </div>
      <div ng-show="">
        <input type="text" name="answer" placeholder="question 5" ng-model="userAnswers.answer5">
      </div> -->
    </div>
    <div>
      <button class="btn btn-success" ng-click="postAnswers()">Submit</button>
    </div>
  </div>
</div>

<div>
  <button class="btn btn-success" ng-click="nextDestination(id)">Next Destination</button>
</div>
<div>
  <button class="btn btn-warning" ng-click="prevDestination(id)">Previous Destination</button>
</div>
<div ng-hide="true">
  <button></button>
</div>