<div class="celesteText">
  <h1>{{title}}</h1>
  <form>

    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" placeholder="name" ng-model="updatedExplorer.firstName"/>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="name" ng-model="updatedExplorer.lastName"/>
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" placeholder="username" ng-model="updatedExplorer.userName"/>
    </div>

    <div class="form-group">
      <label>How many trips around the sun have you made?</label>
      <input type="number" class="form-control" placeholder="aka how old are you?" ng-model="updatedExplorer.age"/>
    </div>

    <button type="" class="btn btn-default" ng-click="editExplorer()">Edit</button>

  </form>
</div>
