<div>
  <h1 class="celesteText">
    Welcome, {{explorer.firstName}}. It's me, Celeste. Are you ready to begin your Journey?
  </h1>
  <div>
    <button class="btn btn-info" ng-click="listJournies()">Journies</button>
    <div ng-repeat="journey in journies">
      <p>{{journies.name}}</p>
      <p>{{journies.destination}}</p>
      </div>
  </div>
  <div>
    <button class="btn btn-success" ng-click="startJourney()">Blastoff</button>
    <button class="btn btn-danger" ng-click="">I'm scared of the Universe</button>
  </div>
</div>