<div class="celesteText">
  <h1>
    Welcome, {{explorerName}}. It's me, Celeste. Are you ready to begin your Journey?
  </h1>
  <div>
  <h1 ng-hide="blackhole" class="redText">WHAT'S THERE TO BE SCARED OF?</h1>
  <img id="blackhole" ng-hide="blackhole" class="ng-hide" ng-src="imgs/blackhole.jpg">
  </div>

  <center>
    <div>
        <button class="btn btn-success" ng-click="startJourney()">Blastoff!</button>
    </div>
    <div>
        <button class="btn btn-danger" ng-click="blackhole = false">I'm scared of the Universe...</button>
    </div>
  </center>
</div>
