<div>
  <h1 class="loginGreeting">Hello, Explorer. I'm Celeste. I'd Like to teach you about space.</h1>
  <br>
  <p>{{message}}</p>
  <section class="auth-form">
    <h4>Login or Register to Party</h4>
    <br>
      <div>
        email: <input type="email" name="email" placeholder="explorer email" autofocus="true" ng-model="account.email">
      </div>
      <br>
      <div>
        Password: <input type="password" name="password" placeholder="explorer pw" ng-model="account.password">
      </div>
      <div>
      <br>
        <button class="btn btn-info" ng-click="login()">Login</button>
        <button class="btn btn-success" ng-click="register()">Register</button>
      </div>
  </section>
</div>