<div>
  Let's test your knowledge.
</div>
<form>
  <h5>Question</h5>
    <input type="text" placeholder="answer here" name="answer">
  <h5>Question</h5>
    <input type="text" placeholder="answer here" name="answer">
  <h5>Question</h5>
    <input type="text" placeholder="answer here" name="answer">
  <h5>Question</h5>
    <input type="text" placeholder="answer here" name="answer">
  <h5>Question</h5>
    <input type="text" placeholder="answer here" name="answer">
  <h5>Question</h5>
    <input type="text" placeholder="answer here" name="answer">
</form>